.form__buttons {
  display: flex;
  gap: 5px;
  margin-top: 2px;
  align-items: stretch;

  .form__button {
    background-color: #fff;
    border: 0;
    padding: 5px 10px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #9395d3;
    }

    &_active {
      background-color: #9395d3;
    }
  }
}

.is-invalid {
  border: 1px solid #ff0000;
}
